# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/server_out.log
backend/server_err.log

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
